<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Todo</h1>
    <p>Today's date: <%= new Date().toLocaleDateString(); %></p>
    <div class="task-board">
        <b>Task board</b><br>
        <%= JSON.stringify(locals.taskboard) %><br>
    </div>
    <div class="task-creator">
        <form action="newtask.js">
            <legend>New task</legend>
            <textarea name="todo-create", placeholder="Create new task"></textarea><br>
            <button type="submit", formmethod="post">Create</button><br>
        </form>
    </div>
    
</body>
</html>